.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6a0dad; /* Roxo Real */
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  
  .App-header {
    text-align: center;
    width: 100%;
  }
  