html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.footer {
  position: fixed;
  bottom: 0px;
}

div button svg {
  height: 20px;
  width: 20px;
  right: 5px;
  left: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}